In [15]:
from mlxtend.frequent_patterns import fpgrowth
from mlxtend.frequent_patterns import association_rules

In [16]:
data = [[1, 1, 0, 0], [0, 1, 1, 0], [1, 0, 0, 1], [1, 0, 0, 0]]

In [17]:
import pandas as pd

data = pd.DataFrame(data, columns=['f1', 'f2', 'f3', 'f4'])

In [18]:
data # 可理解为data为 f1 f2 f3 f4 四种商品在（0，1，2，3）四种不同货架上是否出现

   f1  f2  f3  f4
0   1   1   0   0
1   0   1   1   0
2   1   0   0   1
3   1   0   0   0

In [25]:
# fpgrowth 要求接收的输入数据格式为上述的 dataframe 格式
frequent_itemsets = fpgrowth(data, min_support=0.05, use_colnames=True)

rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.7)

In [26]:
frequent_itemsets

   support  itemsets
0     0.75      (f1)
1     0.50      (f2)
2     0.25      (f3)
3     0.25      (f4)
4     0.25  (f1, f2)
5     0.25  (f3, f2)
6     0.25  (f1, f4)

In [27]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(f3),(f2),0.25,0.50,0.25,1.0,2.000000,0.1250,inf
1,(f4),(f1),0.25,0.75,0.25,1.0,1.333333,0.0625,inf